sudo: required
dist: xenial
language: scala

scala:
- 2.12.10
- 2.13.1
jdk:
  - openjdk8
  - openjdk11
env:
  global:
  - CB_VERSION=5.0.1

before_install:
  - wget http://packages.couchbase.com/releases/$CB_VERSION/couchbase-server-enterprise_$CB_VERSION-ubuntu16.04_amd64.deb
  - sudo dpkg --force-all -i ouchbase-server-enterprise_$CB_VERSION-ubuntu16.04_amd64.deb
  - sleep 20
  - ./cb-test-prepare.sh

script:
  - sbt ++$TRAVIS_SCALA_VERSION test

before_cache:
# Cleanup the cached directories to avoid unnecessary cache updates
- find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
- find $HOME/.sbt        -name "*.lock"               -print -delete

cache:
  directories:
  - $HOME/.m2
  - $HOME/.ivy2/cache
  - $HOME/.sbt
  - $HOME/.coursier
